// 网站主色调
$web-color-base = #316ccb;
// 模块分类／正文标题
$gray-base = #353535;
// title／正文文字
$gray-darker = #656565;
// 释义文字
$gray-dark = #959595;
// 信息文字
$gray = #c5c5c5
// line/边框,全局背景
$gray-light = #f1f1f1
// hover背景色
$gray-lighter = #f5f5f5

//== Scaffolding

// body背景色
$body-bg = #ffffff;
// body文字颜色
$text-color = $gray-darker;

// a标签颜色
$link-color = $gray-darker;
// a标签悬浮颜色
$link-hover-color = $web-color-base;
